html, body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    gap: 20px;
}


.expense-tracker {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.expense-tracker h1, .expense-tracker h2 {
    color: #333;
}

.expense-tracker h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.expense-tracker ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.expense-tracker li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.expense-tracker .add-transaction-container {
    text-align: left;
}

.expense-tracker label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.expense-tracker input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

.expense-tracker button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.expense-tracker button:hover {
    background-color: #2980b9;
}

/* Bank Baba Styles */
.bank-baba {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bank-baba .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 400px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bank-baba button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bank-baba button:hover {
    background-color: #0056b3;
}

.bank-baba select, .bank-baba input {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.bank-baba .warning {
    color: red;
    font-weight: bold;
}

